# pandas series
* one dimentional labled array capable of handling data of any type integer,string,float

In [3]:
import pandas as pd
Series=pd.array([1,2,3,4])
p=pd.Series(Series)
print(p)

0    1
1    2
2    3
3    4
dtype: int32

In [4]:
p

0    1
1    2
2    3
3    4
dtype: int32

In [5]:
Series=pd.array([1,2,3,4])
dt=pd.Series(Series,index=[9,8,7,6])
print(dt)

9    1
8    2
7    3
6    4
dtype: int32

In [6]:
p

0    1
1    2
2    3
3    4
dtype: int32

In [7]:
dt

9    1
8    2
7    3
6    4
dtype: int32

In [8]:
data={'a':10,'b':20,'c':30,'d':40}
s=pd.Series(data,index=['a','b','c','d','e'])
print(s)

a    10.0
b    20.0
c    30.0
d    40.0
e     NaN
dtype: float64

In [9]:
dt[1:]

8    2
7    3
6    4
dtype: int32

In [10]:
dt[1:4]

8    2
7    3
6    4
dtype: int32

In [11]:
dt[-2:]

7    3
6    4
dtype: int32

In [12]:
data={'Age':pd.Series([30,35,30],index=[0,1,2]),'Salary':pd.Series([10000,20000,30000]),'Name':pd.Series(['mark','tom','james'])}

df=pd.DataFrame(data)
print(df)

   Age  Salary   Name
0   30   10000   mark
1   35   20000    tom
2   30   30000  james

In [13]:
df

   Age  Salary   Name
0   30   10000   mark
1   35   20000    tom
2   30   30000  james

In [14]:
df['percentage']=pd.Series([20,50,60],index=[0,1,2])#adding new column
df

   Age  Salary   Name  percentage
0   30   10000   mark          20
1   35   20000    tom          50
2   30   30000  james          60

In [15]:
(df.T)#Transpose

                0      1      2
Age            30     35     30
Salary      10000  20000  30000
Name         mark    tom  james
percentage     20     50     60

In [16]:
(df.axes)#axes

[Int64Index([0, 1, 2], dtype='int64'),
 Index(['Age', 'Salary', 'Name', 'percentage'], dtype='object')]

In [17]:
(df.dtype)

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [ ]:
df.shape

In [ ]:
df.sum(1)

In [ ]:
df.sum(0)

In [ ]:
df.sum(2)

In [ ]:
df.mean(1)#average

In [ ]:
df.min()#min

In [ ]:
df.max()#max

In [ ]:
df.describe()#describes

# indexing in pandas
* .loc(labled based indexing)
* .iloc(integer based indexing)
* .ix(label and integer)

# loc

In [ ]:

print(df.loc[:2,['Name','Age']])#labled based indexing

In [ ]:
print(df.loc[:,['Name','Age']])

In [ ]:
print(df.loc[[1,2],['Name','Age']])

In [ ]:
print(df.loc[:])

In [ ]:
print(df.loc[:,'Name'])

# iloc

In [ ]:
print(df.iloc[1:2])

In [ ]:
print(df.iloc[0:3])

In [ ]:
print(df.iloc[0])

# ix

In [ ]:
print(df.ix[:1])
df

In [70]:
print(df.ix[0,1,2],['Name','Age'])

10000 ['Name', 'Age']

D:\anaconda\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.